<ion-view title="AppName">
  <ion-content>

         <div class="floating-search-bar"> <!-- Search bar -->
           <label class="item item-input">
             <i class="icon ion-search placeholder-icon"></i>
             <input type="search" placeholder="Search">
           </label>
         </div>


         <div id="map" data-tap-disabled="true"></div>

         <div class="bar bar-footer bar-balanced high-footer">
            <div class="footer-text">Select a store<br/> or <br/>scan a tag.</div>
         </div>
     </ion-content>
</title>
