<ion-view view-title="Shopping List" class="title-center">
  <ion-nav-buttons side="primary">
       <button class="button" ng-click="takePhoto()">
         <i class="ion-ios-barcode-outline" style="font-size:2em;"></i>
       </button>
     </ion-nav-buttons>
    <ion-content class='shorter-content'>

        <ion-list>
            <ion-item item-left ng-repeat="item in list" class="item-text-wrap" ng-click="$index==1 && scanNFC();">

                <ion-thumbnail item-left class="item-thumbnail-left">
			      	<img ng-src="{{item.imgUrl}}">
			    </ion-thumbnail>
			    <div class="item-description">
				    <h2>{{item.name}}</h2>
				    <p>{{item.price}}</p>
				</div>
            </ion-item>
        </ion-list>

    </ion-content>

    <div class="total item-icon-left">
        <div class="total-sum">
          <p>
          	<i class="icon ion-ios-cart"></i>
          	Total: </p>
        </div>
    </div>

    <div class="tabs">
	  <a class="tab-item">
	    Explore
	  </a>
	  <a class="tab-item">
	    Pay
	  </a>
	</div>
</ion-view>
