<ion-view title="Proceed to check-in">
  <ion-content class="shopSelection">


    <div class="shop-selected-container">

      <div class="card" style="padding:20px; background-color:rgba(255, 255, 255, 0); box-shadow: 0px 0px 0px #000000">
        <div class="item item-text-wrap " style="background-color:rgba(255, 255, 255, 0.9); box-shadow: 1px 1px 2px #000000">
          <div class="shop-selected-title">
            You selected
          </div>
          <div class="shop-selected-text">
            {{shopName}}
          </div>

        </div>
      </div>


    </div>
    <div class="bar bar-footer high-footer-2" ng-click="startShoping();">
      <div class="footer-text"><i class="ion-bag"></i>&nbsp;Start shopping<br/><br/></div>
    </div>
  </ion-content>
</title>
