/* Shoping List */
ion-item .item-description {
	width: 80%;
}

ion-item a {
	float: right;
}

.total {
	position: absolute; 
	bottom: 49px; 
	width: 100%;
	height: 40px;
	background-color: Gainsboro;
}

.total p {
	margin-top: 10px;
}

.total-sum {
	text-align: left;
}

.shorter-content {
	height: 70%;
}

/* End Shoping List */

/* Recommendation List */

.item p.sale-price  {
	color: #ef473a;
}

.prize-icon {
	font-size: 40px;
    vertical-align: middle;
    padding-top: 30px;
    padding-right: 10px;
    color: #ef473a;
}

.line-through {
	text-decoration: line-through;
}

/* End Recommendation List */

/* Prize screen */
.trophy {
	font-size: 200px;
	text-align: center;
	padding-top: 30%;
	color: Goldenrod;
}

.points {
	font-size: 20px;
	color: #ef473a;
	text-align: center;
}

.level-up {
	font-size: 40px;
	color: DodgerBlue;
	text-align: center;
	padding-top: 30px;
}

.total-points {
	font-size: 30px;
	color: #ef473a;
	text-align: center;
	padding-top: 20px;
}

/* End prize screen*/


.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}


.floating-search-bar{

  position: absolute;
  top: 12px;
  left: 10px;
  width: 95%;

}

.floating-start-button{
  position: absolute;
  bottom: 0px;
  left: 0px;



}

.high-footer{
  height:100px;
  text-align:center;
  margin:auto;
}

.footer-text{
  text-align:center;
  margin: auto;
  font-size:1.5em;
}
