/* Shoping List */
ion-item .item-description{
	padding-left: 90px;
}

.total {
	position: absolute; 
	bottom: 49px; 
	width: 100%;
	height: 40px;
	background-color: Gainsboro;
}

.total p {
	margin-top: 10px;
}

.total-sum {
	text-align: left;
}

.shorter-content {
	height: 70%;
}
