/* Shoping List */
ion-item .item-description{
	padding-left: 90px;
}

.total {
	position: absolute;
	bottom: 49px;
	width: 100%;
	height: 40px;
	background-color: Gainsboro;
}

.total p {
	margin-top: 10px;
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content {
border-color: #ccc;
background-color: #FFFFFF;
}

.total-sum {
	text-align: left;
}

.shorter-content {
	height: 70%;
}

.scroll {
    height: 100%;
}

/* End Shoping List */

#map {
    width: 100%;
    height: 100%;
}


.floating-search-bar{

  position: absolute;
  top: 12px;
  left: 10px;
  width: 95%;

}

.floating-start-button{
  position: absolute;
  bottom: 0px;
  left: 0px;



}

.high-footer{
  height:50px;
  text-align:center;
  margin:auto;
}
.high-footer-2{
  height:100px;
  text-align:center;
  margin:auto;
}

.footer-text{
  text-align:center;
  margin: auto;
  font-size:1.5em;
}

.shop-selected-container{
  position: relative;
  top: 150px;
}
.shop-selected-title{
  text-align:center;
  font-size:1.4em;
  margin-bottom:10px;

}


.shop-selected-text{
  text-align: center;
  font-size:2em;
}

.shopSelection{
  background-image: url("../img/zara.jpg");

}

.nearbyLocations{
	position:relative;
	float:right;
	bottom:110px;
	margin-right:5px;
}


.finishButton{
	position: absolute;
	left:151px;
	top:530px;
}

.tick-image{
	max-width:100%;
	height:50%;
	margin:auto;
	display:block;
 margin-left:auto;
 margin-right:auto;
 position:relative;
 top:40px;
}


.thank-you{
	color: green;
	font-size: 3em;
	position:relative;
	top:55px;
	left:105px;
}

.thank-you-sub{
	color: green;
	font-size: 2em;
	position:relative;
	top:60px;
	left:35px;
}
